<tr id="<%= dom_id(definition) %>" class="hover:bg-gray-50">
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm font-medium text-gray-900"><%= definition.term %></div>
  </td>
  <td class="px-6 py-4">
    <div class="text-sm text-gray-500"><%= definition.definition %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <%= link_to "Edit", edit_definition_path(definition), 
      class: "text-indigo-600 hover:text-indigo-900 mr-3", 
      data: { turbo_frame: dom_id(definition), 
              action: "turbo:load->definitions#edit" } %>

    <%= render partial: "delete_button", locals: { definition: } %>
    <%= turbo_stream_from definition %>
  </td>
</tr>
